body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fae8db;
}
/* What kind of selector is this? */
.logo {
  width: 200x;
  height: 200px;
  margin: 3% 10%;

}
header {
 padding-right: 5%;
 padding-left: 10%;
 padding-top: 2%;
 padding-bottom: 1%;
 background-color: rgb(240, 193, 107);
 border-radius: 50px;
 border: solid;
  

}

main {
  height: auto;
  width: 100%;
  display: grid;
  background-color: lightblue;
  grid-template-columns: 30% 40% 45%;
  border: solid;
  border-radius: 1em;
  
}
/* This is an element within and element selector */ 
nav > a {
    margin: auto;
     height: 10%;
     width: 50%;
     color: rgb(8, 0, 0);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     border-radius: 10px;
     background: tomato; 
     padding: 50px;
     padding-right: 50px;
     padding-right: 30px;
     text-align: left;
     border: .05px black;
}

.has-border {
  grid-column: 2/3;
  margin: auto;
  width: 25%;
  height: 15%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  border-radius: 90%;
  padding-right: 5%;
  padding-left: 5%;
  background: tomato;
  border-color: black;
  text-align: center;
  color: rgb(255, 235, 238);
  letter-spacing: 12px;
  font-style: italic;
}


/* This is an ID selector */
#profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 15% auto;
  grid-column: 2/3;
  
}

h1 {
  color: black;
  margin: 3% auto;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-size: 45px;
  padding-left: 1%;
  color: black;

}

h2 {
  margin: 3% auto;
  font-style: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  padding-left: 1%;
  color: black;
}
h3 {
  margin: 3% auto;
  font-style: bold;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  padding-left: 10%;
}

.small-text {
  grid-column: 2/3;
  color: white;
  font-size: 10px;
  margin: 3% auto;
}

button {
  grid-column: 2/3;
  margin: 3% auto;
  width: 70%;
  height: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  background: transparent;
  padding: 5px;
  padding-bottom: 5%;
  text-align: center;
  color: black;
  letter-spacing: 16px;
  font-style: italic;
}

 footer {
 padding-right: 10%;
 padding-left: 10%;
 padding-top: 2%;
 padding-bottom: 25%;
 background-color: tomato;
 border-radius: 50px;
 border: solid;
 border-radius: 1em;
}

.left-column {
 font-size: 35px;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: rgb(168, 190, 199);
 border: solid;
 border-radius: 1em;
 padding-left: 2%;
 padding-right: 2%;

}
.footer-text { font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  color: rgb(255, 235, 238);
}